.header {
  background-color: white;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;

  :global {
    .container {
      display: flex;
      align-items: center;
      padding: 30px 15px;
    }
  }
}